<div class="title-container">

    {% if G_project.avatar_exist is defined and G_project.avatar_exist %}
            <span class="project-logo"><img style="max-height: 24px;" src="{{G_project.avatar}}" alt=''></span>
    {% else %}
        <div class="avatar-container s40" style="display: block;width: 24px;height: 24px;">
            <div class="avatar project-avatar s40 identicon"
                 style="background-color: #E0F2F1; color: #555;line-height: 22px;">
                {% if G_project.first_word  %}
                    {{G_project.first_word}}
                {% else %}
                 All
                {% endif %}
            </div>
        </div>
    {% endif %}
    <span class="group-title project-name">{{G_project.name}}</span>


    <h1 class="title">
        {% set header_title = '首 页' %}
        {% set header_title_link = site_url %}
        {% if  project_id is defined %}
            {% set header_title = org_name %}
            {% set header_title_link = project_root_url %}
        {% endif %}
        {% if  _GET._target[0] == 'projects'%}
            {% set header_title = '项目列表' %}
            {% set header_title_link = site_url~'projects' %}
        {% endif %}
        {% if  _GET._target[0] == 'org'%}
            {% set header_title = '组 织' %}
            {% set header_title_link = site_url~'org' %}
        {% endif %}
        {% if  _GET._target[0] == 'issue' and  _GET._target[1] == 'main'%}
            {% set header_title = '参与的项目' %}
            {% set header_title_link = site_url~'issue/main' %}
        {% endif %}
        {% if  _GET._target[0] == 'admin'%}
        {% set header_title = '管 理' %}
        {% set header_title_link = site_url~'admin/system' %}
        {% endif %}
        <span class="group-title">
            <a class="group-path" href="{{header_title_link}}">
                {{header_title}}
            </a>
        </span>
        {% if project_root_url is defined and pro_key  is defined %}
        /<a class="project-item-select-holder" href="{{project_root_url}}">{{pro_key}}</a>
        {% endif %}

        {% if project_id is defined  %}
        <button name="button" type="button" class="dropdown-toggle-caret js-projects-dropdown-toggle"
                aria-label="Toggle switch project dropdown" data-target=".js-dropdown-menu-projects"
                data-toggle="dropdown" data-order-by="last_activity_at">
            <i class="fa fa-chevron-down"></i>
        </button>
        {% endif %}
    </h1>
</div>
