<!DOCTYPE html>
<html class="" lang="en">
<head>

    {% include 'twig/common/header/include.twig' %}
    <script src="/dev/js/admin/project_tpl.js?v=<?=_version?>" type="text/javascript" charset="utf-8"></script>
    <script src="/dev/js/admin/project_tpl_role.js?v=<?=_version?>" type="text/javascript" charset="utf-8"></script>
    <script src="/dev/js/admin/project_tpl_module.js?v=<?=_version?>" type="text/javascript" charset="utf-8"></script>

    <script src="/dev/lib/handlebars-v4.0.10.js" type="text/javascript" charset="utf-8"></script>
    <script src="/dev/lib/bootstrap-select/js/bootstrap-select.js" type="text/javascript" charset="utf-8"></script>
    <link href="/dev/lib/bootstrap-select/css/bootstrap-select.css" rel="stylesheet">

    <script src="/dev/lib/jquery.gridly/javascripts/jquery.gridly.js" type="text/javascript"></script>
    <script src="/dev/lib/jquery.gridly/javascripts/rainbow.js" type="text/javascript"></script>
    <link href="/dev/lib/jquery.gridly/stylesheets/jquery.gridly.css" rel="stylesheet" type="text/css" />
    <link href="/dev/lib/jquery.gridly/stylesheets/sample.css" rel="stylesheet" type="text/css" />

    <!-- Fine Uploader jQuery JS file-->
    <link href="/dev/lib/fine-uploader/fine-uploader.css" rel="stylesheet">
    <link href="/dev/lib/fine-uploader/fine-uploader-gallery.css" rel="stylesheet">
    <script src="/dev/lib/fine-uploader/jquery.fine-uploader.js"></script>

    <link href="/dev/lib/laydate/theme/default/laydate.css" rel="stylesheet">
    <script src="/dev/lib/laydate/laydate.js"></script>

    <script src="/dev/lib/sweetalert2/sweetalert-dev.js"></script>
    <link rel="stylesheet" href="/dev/lib/sweetalert2/sweetalert-dev.css"/>

    <script src="/dev/lib/mousetrap/mousetrap.min.js"></script>

</head>
<body class="" data-group="" data-page="projects:issues:index" data-project="xphp">
{% include 'twig/common/body/script.twig' %}

<section class="has-sidebar page-layout max-sidebar">
    {% include 'twig/common/body/page-left.twig' %}

    <div class="page-layout page-content-body background-white">
        {% include 'twig/common/body/header-content.twig' %}

        <div class="page-with-sidebar">
            {% include 'twig/admin/common-page-nav-admin.twig' %}
            <div class="content-wrapper page-with-layout-nav ">
                <div class="alert-wrapper">
                    <div class="flash-container flash-container-page">
                    </div>
                </div>
                <div class="container-fluid container-limited">
                    <div class="content" id="content-body">
                        {% include 'twig/admin/common_project_tpl_left_nav.twig' %}
                        <h3 class="page-title"><?=tpl.name?>--配置</h3>
                        <p><?=tpl.description?></p>

                        <div class="row">
                            <div class="content-list">
                                   <ul class="nav-links" role="tablist">
                                        <li  role="presentation"    class="active" >
                                            <a title="界面方案"  href="#ui" id="ui-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true"><span> 界面方案 </span>
                                            </a>
                                        </li>
                                        <li  role="presentation"   class="" >
                                            <a title="事项方案"  href="#issue" id="issue-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true"><span> 事项方案 </span>
                                            </a>
                                        </li>
                                        <li  role="presentation"   class="">
                                            <a  title="项目拥有的子系统"  href="#subsystem" id="subsystem-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true"><span>子系统</span></a>
                                        </li>
                                        <li  role="presentation"  class="">
                                            <a  title="项目也有的子系统"  href="#role" id="role-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true"><span>角色权限</span></a>
                                        </li>
                                        <li  role="presentation"   class="" >
                                            <a  title="初始模块"  href="#module" id="module-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true"><span>初始模块</span></a>
                                        </li>
                                        <li  role="presentation"   class="">
                                            <a  title="初始标签&分类"  href="#label" id="label-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true"><span>初始标签&分类</span></a>
                                        </li>
                                    </ul>

                                    <!-- Tab panes -->
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane active" id="ui">
                                            <div class="col-lg-9">
                                                <div class="form-group">

                                                </div>
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-lg-2">
                                                            <label class="label-light" for="layout">页面布局:</label>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <select class="form-control" name="params[page_layout]" id="page_layout">
                                                                <option selected="selected" value="fixed">固定</option>
                                                                <option value="fluid">自适应</option></select>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <span class="help-block">在固定（最大1200 px）和自适应（100%）应用程序布局之间进行选择。</span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-lg-2">
                                                            <label class="label-light" for="project_view">项目首页显示:</label>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <select class="form-control" name="params[project_view]" id="project_view">
                                                                <option selected="selected" value="issues">事项列表</option>
                                                                <option value="summary">项目概要</option>
                                                                <option value="backlog">待办事项</option>
                                                                <option value="sprints">迭代列表</option>
                                                                <option value="board">迭代看板</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <span class="help-block">在项目概览页面中选择您希望看到的内容。</span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-lg-2">
                                                            <label class="label-light" for="issue_view">事项显示:</label>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <select class="form-control" name="params[issue_view]" id="issue_view">
                                                                <option selected="selected" value="list">表格视图</option>
                                                                <option value="detail">左右视图</option>
                                                                <option value="responsive">响应式视图</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <span class="help-block">在项目概览页面中选择您希望看到的内容。</span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <input id="commit" type="button" name="commit" value="保存" class="btn btn-save js-key-enter">
                                                </div>

                                            </div>
                                        </div>

                                        <div role="tabpanel" class="tab-pane " id="issue">
                                            <form id="form_add_action" class="form-horizontal  " action="/project/main/create" accept-charset="UTF-8" method="post">
                                            <div class="form-group">

                                            </div>
                                            <div class="form-group">
                                                <label class="control-label" for="id_category">事项类型方案:<span class="required"> *</span></label>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <select  id="issue_type_scheme_id" name="issue_type_scheme_id" class="selectpicker"  title="请选择" >
                                                            {% for index,category in category_arr %}
                                                                <option value="<?=category.id?>"><?=category.name?></option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label" for="id_category">事项状态流方案:<span class="required"> *</span></label>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <select  id="issue_workflow_scheme_id" name="issue_workflow_scheme_id" class="selectpicker"  title="请选择" >
                                                            {% for index,category in category_arr %}
                                                                <option value="<?=category.id?>"><?=category.name?></option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label" for="id_category">事项表单流方案:<span class="required"> *</span></label>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <select  id="issue_ui_scheme_id" name="issue_ui_scheme_id" class="selectpicker"  title="请选择" >
                                                            {% for index,category in category_arr %}
                                                                <option value="<?=category.id?>"><?=category.name?></option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            </form>
                                        </div>

                                        <div role="tabpanel" class="tab-pane" id="subsystem">
                                            <h4>初始的子系统</h4>
                                            <p>创建项目后将启用以下子系统,可拖拽进行排序</p>
                                            <section class='example'>
                                                <div class='gridly'>
                                                    {% for item in added_subsystem %}
                                                    <div title="可拖拽排序" class='brick small' data-name="<?=item.name?>">
                                                        <span title="可拖拽排序" style='margin-left:6px; color:white'><?=item.title?></span>
                                                        <a  data-title="<?=item.title?>"  class='delete' href='#'>&times;</a>
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                                <hr>
                                                <h4>可添加的子系统</h4>
                                                <p class='actions'>
                                                <div class="row" id="no_subsystem">
                                                    {% for item in no_subsystem %}
                                                    <div class="col-md-2" title="添加便可添加"><a  data-name="<?=item.name?>"  data-title="<?=item.title?>" class='add button add_subsystem' href='#'><?=item.title?></a></div>
                                                    {% endfor %}
                                                </div>
                                                </p>
                                            </section>
                                        </div>
                                        <div role="tabpanel" class="tab-pane" id="role">
                                            <div class="col-lg-12" style="margin-top: 40px">
                                                <form id="form_add_role" class="setting-form clearfix" action="/project/role/add?project_id=<?=id?>" accept-charset="UTF-8" method="post">
                                                    <input name="utf8" type="hidden" value="✓">
                                                    <div class="form-group">

                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        <input style="margin-left: -15px;" type="text" name="params[name]" id="role_name" placeholder="角色名称" required="required" class="form-control">

                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <input type="text" name="params[description]" id="role_description" placeholder="描 述" required="required" class="form-control">

                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        <input id="btn-role_add" type="button"   value="添 加" class="btn btn-create" >
                                                    </div>
                                                </form>

                                                <div class="panel panel-default margin-t-lg">
                                                    <div class="panel-heading">
                                                        <strong>角色</strong>
                                                    </div>
                                                    <ul class="flex-list well-list content-list" id="role_list_render_id">

                                                    </ul>
                                                </div>
                                            </div>

                                        </div>
                                        <div role="tabpanel" class="tab-pane" id="module">
                                            <div class="col-lg-12" style="margin-top: 40px">
                                                <form id="form_add_module" class="setting-form clearfix" action="/admin/project_tpl_module/add?project_id=<?=id?>" accept-charset="UTF-8" method="post">

                                                    <div class="form-group">

                                                    </div>
                                                    <div class="form-group  col-md-2">
                                                        <input style="margin-left: -15px;" type="text" name="params[name]" id="module_name"  placeholder="模块" required="required"
                                                               tabindex="1" class="form-control">
                                                    </div>

                                                    <div class="form-group col-md-4">
                                                        <input type="text" name="params[description]" id="module_description"  placeholder="说明"  class="form-control">
                                                    </div>
                                                    <div class="form-group col-md-2">
                                                        <input type="button" name="commit" id="btn-module_add" value="添加模块" class="btn btn-create">
                                                    </div>
                                                    <input name="utf8" type="hidden" value="✓">
                                                    <input type="hidden" name="authenticity_token" value="">
                                                </form>

                                                <div class="panel panel-form panel-default margin-t-lg">
                                                    <div class="panel-heading">
                                                        <strong>模块</strong>
                                                        <div class="input-group member-search-form">
                                                        </div>
                                                    </div>
                                                    <ul class="flex-list content-list" id="module_list_render_id">

                                                    </ul>
                                                </div>
                                                <input name="page" id="filter_page" type="hidden" value="1">
                                                <div class="gl-pagination border-0" id="ampagination-bootstrap">

                                                </div>
                                            </div>

                                        </div>
                                        <div role="tabpanel" class="tab-pane" id="label">...</div>
                                    </div>

                                </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- Fine Uploader Gallery template
   ====================================================================== -->


<div class="modal" id="modal-role_edit">
    <form class="js-quick-submit js-upload-blob-form form-horizontal" id="form_edit"
          action="#"
          accept-charset="UTF-8"
          method="post">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal" href="#">×</a>
                    <h3 class="modal-header-title">编辑项目角色</h3>
                </div>

                <div class="modal-body">
                    <input type="hidden" name="id" id="edit_id" value="">
                    <input type="hidden" name="format" id="format" value="json">
                    <input type="hidden" name="project_id" value="<?=id?>">

                    <div class="form-group">
                        <label class="control-label" >名称:</label>
                        <div class="col-sm-5">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="" name="params[name]" id="edit_name" value="">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label" >描述:</label>
                        <div class="col-sm-5">
                            <div class="form-group">
                                <textarea placeholder="" class="form-control" rows="3" maxlength="250" name="params[description]" id="edit_description"></textarea>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button name="edit_role_save" type="button" class="btn  btn-create " id="btn-role-update">保存</button>
                    <a class="btn btn-cancel" data-dismiss="modal" href="#">取消</a>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal fade" id="modal-permission_edit" data-keyboard=true role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <form class="js-quick-submit js-upload-blob-form form-horizontal" id="form_permission_edit"
          action="#"
          accept-charset="UTF-8"
          method="post">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal" href="#">×</a>
                    <h3 class="modal-header-title">权限分配</h3>
                </div>

                <div class="modal-body">
                    <input type="hidden" name="role_id" id="perm_role_id" value="">
                    <input type="hidden" name="permission_ids" id="permission_ids" value="">

                    <div class="form-group">
                        <label class="control-label">角色名称:</label>
                        <div class="col-sm-5">
                            <div class="form-group" >
                                <input type="text" class="form-control" disabled placeholder="" name="perm_role_name" id="perm_role_name" value="">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="id_font_icon">权限分配:</label>
                        <div class="col-sm-6">
                            <div class="form-group" style="margin-top: 7px;">
                                <span class="text-muted"><input type="checkbox" name="" id="checkall"> <label for="checkall"><small>选中全部</small></label></span>
                                <div id="container">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button name="btn-permission_update" type="button" class="btn btn-save" id="btn-permission_update">保存</button>
                    <a  class="btn btn-cancel" data-dismiss="modal" href="#">取消</a>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal" id="modal-mudule_edit">
    <form class="form-horizontal"
          id="form-module_edit"
          action="/project/module/update"
          accept-charset="UTF-8"
          method="post">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 id="modal-edit-issue_title" class="modal-header-title">编辑模块 </h3>
                </div>

                <div class="modal-body">
                    <input name="utf8" type="hidden" value="✓">
                    <input type="hidden" name="authenticity_token" value="">
                    <input type="hidden" name="id" id="mod_form_id" value="" />

                    <div class="form-group">
                        <label class="control-label" for="issue_type">模块</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="mod_form_name" name="name" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="issue_type">排序权重</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="mod_form_weight" name="weight" value="0" maxlength="6">
                            <div class="help-block edited-text">数值越大权重越高</div>
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="control-label" for="issue_type">描述</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" id="mod_form_description" name="description"></textarea>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-save" id="btn-module-update">保存</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </form>
</div>

{% verbatim %}
<script type="text/x-handlebars-template"  id="role_list_tpl">
    {{#each roles}}
        <li>
            <div class="pull-left append-right-10 hidden-xs">
                <i class="fa fa-users key-icon"></i>
            </div>
            <div class="deploy-key-content key-list-item-info">
                <strong class="title">
                    {{name}}
                </strong>
                <div class="description">
                    {{description}}
                </div>
            </div>
            <div class="deploy-key-content">
                <div class="visible-xs-block visible-sm-block"></div>
                    <a class="list_for_edit prepend-left-10" rel="nofollow" data-id="{{id}}"  href="#">
                        编 辑
                    </a>
                    <a class="list_for_delete prepend-left-10" rel="nofollow" data-id="{{id}}"  href="#">
                        删 除
                    </a>
                    <a class="list_edit_perm prepend-left-10" rel="nofollow" data-id="{{id}}" data-name="{{name}}"  href="#">
                        权 限
                    </a>
            </div>
        </li>
    {{/each}}
</script>
<script type="text/x-handlebars-template" id="module_list_tpl">
    {{#each modules}}
    <li class="flex-row" id="li_data_id_{{id}}">
        <div class="row-main-content ">
            <a  href="{{../project_path.project_root_url}}/issues?模块={{name}}">
                <span class="item-title">
                    <i class="fa fa-th-large" ></i> {{name}}
                </span>
            </a>
            <div class="block-truncated">
                <div class="branch-commit">
                    <div class="icon-container commit-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 18" enable-background="new 0 0 36 18"><path d="m34 7h-7.2c-.9-4-4.5-7-8.8-7s-7.9 3-8.8 7h-7.2c-1.1 0-2 .9-2 2 0 1.1.9 2 2 2h7.2c.9 4 4.5 7 8.8 7s7.9-3 8.8-7h7.2c1.1 0 2-.9 2-2 0-1.1-.9-2-2-2m-16 7c-2.8 0-5-2.2-5-5s2.2-5 5-5 5 2.2 5 5-2.2 5-5 5"></path></svg>
                    </div>
                    <small class="edited-text">
                        {{#if description}}
                        <span>{{description}}</span>
                        {{else}}
                        <span>无描述</span>
                        {{/if}}
                    </small>
                </div>
            </div>
        </div>
        <div class="pull-left hidden-xs hidden-sm hidden-md">
            <a class="btn btn-transparent btn-action module_list_for_edit" title="编辑模块"   data-id="{{id}}">
                <i class="fa fa-pencil-square-o"></i>
            </a>
            <a class="btn btn-transparent btn-action module_list_for_delete" title="删除模块" data-id="{{id}}"  >
                <i class="fa fa-trash-o"></i>
            </a>
        </div>

    </li>
    {{/each}}
</script>
{% endverbatim %}
<script type="text/javascript">

    var _issueConfig = {};
    var _fineUploader = null;
    var $modules = null;
    var $role = null;
    var $gridly = null;
    var projetc_tpl_id = '<?=id?>';

    function saveSubsystem(  ) {
        var subSystemArr = [];
        $('.brick').each(function(el){
            var name = $(this).data('name');
            var left = $(this).position().left;
            var top = $(this).position().top;
            var obj = {name:name,left:left, top:top};
            subSystemArr.push(obj);
        });
        console.log(subSystemArr);
        var method = 'post';
        $.ajax({
            type: method,
            dataType: "json",
            async: true,
            url: '/admin/ProjectTpl/update?id='+projetc_tpl_id,
            data: {id:projetc_tpl_id,sub_system:JSON.stringify(subSystemArr)} ,
            success: function (resp) {
                auth_check(resp);
                if( resp.ret ==='200'  ){
                    notify_success( resp.msg );
                }else{
                    notify_error( resp.msg );
                }

            },
            error: function (res) {
                notify_error("请求数据错误" + res);
            }
        });
        return subSystemArr;
    }

    // Generated by CoffeeScript 2.5.1

        $(function() {
            var brick;
            brick = "<div class='brick small'><div class='delete'>&times;</div></div>";
            $gridly = $('.gridly').gridly({
                base: 60, // px
                gutter: 20, // px
                columns: 16,
                callbacks: {
                    reordered: saveSubsystem,
                }
            });

            $(document).on("click touchend", ".gridly .brick", function(event) {
                var $this, size;
                event.preventDefault();
                event.stopPropagation();
                $this = $(this);
                return $('.gridly').gridly('layout');
            });
            $(document).on("click", ".gridly .delete", function(event) {
                var $this;
                event.preventDefault();
                event.stopPropagation();
                $this = $(this);
                $this.closest('.brick').remove();
                var title = $(this).data('title');
                var name = $(this).data('name');
                var html = '<div class="col-md-2"><a   data-name="'+name+'"  data-title="'+title+'" class="add button add_subsystem" href="#">'+title+'</a></div>';
                $('#no_subsystem').append(html);
                var aa = $gridly.gridly();
                saveSubsystem();
                return aa;
            });
            $(document).on("click", ".add_subsystem", function(event) {
                event.preventDefault();
                event.stopPropagation();
                var title = $(this).data('title');
                var name = $(this).data('name');
                brick = "<div class='brick small' data-name='"+name+"'><span style='margin-left:6px; color:white'>"+title+"</span><a  data-title='"+title+"' class='delete' href='#'>&times;</a></div>"
                $gridly.append(brick);
                $(this).parent().remove();
                var aa = $gridly.gridly();
                saveSubsystem();
                return aa;
            });
            return $gridly.gridly();
        });



</script>

<script>

    $(function() {

        var role_options = {
            list_render_id:"role_list_render_id",
            list_tpl_id:"role_list_tpl",
            filter_url:"/admin/ProjectTplRole/fetchAll?id=<?=id?>",
            get_url:"/admin/ProjectTplRole/get",
            add_url:"/admin/ProjectTplRole/add?id=<?=id?>",
            update_url:"/admin/ProjectTplRole/update",
            tree_url: "/admin/ProjectTplRole/perm_tree",
            update_perm_url:"/admin/ProjectTplRole/update_perm",
        };
        window.$role = new ProjectTplRole( role_options );
        window.$role.fetchAll();

        var module_options = {
            list_render_id:"module_list_render_id",
            list_tpl_id:"module_list_tpl",
            filter_url:"/admin/ProjectTplModule/fetchAll?project_tpl_id=<?=id?>",
            get_url:"/admin/ProjectTplModule/get",
            add_url:"/admin/ProjectTplModule/add?project_tpl_id=<?=id?>",
            update_url:"/admin/ProjectTplModule/update",
            delete_url:"/admin/ProjectTplModule/delete",
        };
        window.$modules = new ProjectTplModule( module_options );
        window.$modules.fetchAll();
    });

</script>


</body>
</html>