{% if (profile is empty) %}
    {% set profile = user %}
{% endif %}

<div class="profile-header">
    <div class="avatar-holder">
        <a target="_blank" rel="noopener noreferrer" href="{{profile.avatar}}">
            <img class="avatar s90" style="border-radius: 50%;" alt="" src="{{profile.avatar}}" /></a>
    </div>

    <div class="user-info">
        <div class="cover-title">{{profile.display_name}}</div>
        <div class="cover-desc member-date">
            <span class="middle-dot-divider">{{profile.username}}</span>
            <span class="middle-dot-divider">{{profile.create_time_text}}</span></div>
        <div class="cover-desc"></div>
    </div>
</div>