<!DOCTYPE html>
<html class="" lang="en">
<head  >

    {% include 'twig/common/header/include.twig' %}
    <script src="/gitlab/assets/webpack/profile.56fab56f950907c5b67a.bundle.js"></script>
    <script src="/dev/lib/handlebars-v4.0.10.js" type="text/javascript" charset="utf-8"></script>

</head>
<body class="" data-group="" data-page="profiles:show" data-project="">
{% include 'twig/common/body/script.twig' %}

<section class="has-sidebar page-layout max-sidebar">
    {% include 'twig/common/body/page-left.twig' %}

    <div class="page-layout page-content-body background-white">
{% include 'twig/common/body/header-content.twig' %}


<div class="page-with-sidebar">

    <div class="content-wrapper page-with-layout-nav page-with-sub-nav">
        <div class="alert-wrapper">
            <div class="flash-container flash-container-page">
            </div>
        </div>
            <div class="content padding-0" id="content-body">
                <div class="cover-block user-cover-block">
                    <div class="scrolling-tabs-container">
                        <div class="fade-left">
                            <i class="fa fa-angle-left"></i>
                        </div>
                        <div class="fade-right">
                            <i class="fa fa-angle-right"></i>
                        </div>

                        {% set profile_nav='filters' %}
                        {% include  'twig/user/common-setting-nav.twig' %}
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="content" id="content-body">
                        <div class="top-area">
                            <ul class="nav-links">
                                <li class="active">
                                    <a href="#">未读消息</a>
                                </li>
                                <li class="">
                                    <a href="#">已读消息</a>
                                </li>
                                <li class="">
                                    <a href="#">全部</a>
                                </li>
                            </ul>
                        </div>
                        <div class="content-list">
                            <div class="panel panel-default panel-small panel-without-border">
                                <ul class="issues-content-list" id="ul_issues" style="position: relative;">
                                    <li class="issue-item" data-id="140" data-summary="xxxxxxxxxxxxxxxxxxxx" id="li_issue_140" url="/issue/detail/index/140">
                                        <div class="issuable-avatar">
                                            <span class="list-item-name"><a href="/user/profile/1"><img width="26px" height="26px" class=" float-none" style="border-radius: 50%;" data-toggle="tooltip" data-placement="bottom" title="master Master" src="http://masterlab.ink/attachment/avatar/1.png?t=1579249493"></a></span>
                                        </div>
                                        <div class="issuable-main-info">
                                            <div class="issue-title title">
											<span class="issue-title-text" dir="auto">
												<a class="responsive_title" href="/issue/detail/index/140">
													xxxxxxxxxxxxxxxxxxxx
												</a>
											</span>
                                            </div>
                                            <div class="issuable-info" style="font-size:12px;font-weight: 400;color:#707070;">
                                                <span style="color:#ff0000;font-size: 10px">升级</span>
                                                &nbsp;
                                                <span class="issuable-authored">
												·
												<a class="author-link js-user-link  " style="font-size: 10px;color:#707070;" data-user-id="1" data-username="master" data-name="Master" href="/user/profile/1"><span class="author">Master</span></a>
												<span style="color:#ad93ac" data-toggle="tooltip" data-placement="top" title="" data-original-title="2020-03-10 15:48:21">2020-03-10 15:48:21</span>

                                                </span>

                                            </div>
                                        </div>

                                    </li>

                                </ul>
                            </div>
                            <div class="gl-pagination" id="pagination">

                            </div>
                        </div>

                    </div>
                </div>
            </div>
    </div>
</div>

</div>

</section>

{% verbatim %}<script type="text/html"  id="list_tpl">
    {{#filters}}
        <tr class="commit">
            <td>
                <strong><a style="color: #1890ff;" href="/issue/main?fav_filter={{id}}">{{name}}</a> </strong>
            </td>
            <td>
                {{make_project projectid}}
            </td>
            <td>
                <a style="color: #1890ff;" href="/issue/main?fav_filter={{id}}">{{filter}}</a>
            </td>
            <td  >
                <a class="list_for_delete btn btn-transparent  "  href="javascript:;" data-value="{{id}}" style="padding: 6px 2px;">
                    <i class="fa fa-trash"></i>
                    <span class="sr-only">删除</span>
                </a>

            </td>
        </tr>
    {{/filters}}
</script>{% endverbatim %}

<script src="/dev/js/handlebars.helper.js?v={{_version}}"></script>
<script src="/dev/js/user/filters.js?v={{_version}}"></script>
<script type="text/javascript">

    var _issueConfig = {
        "projects":{{projects|json_encode()|raw}}
    };

    var $obi = null;
    $(function() {

        var options = {
            list_render_id:"list_render_id",
            list_tpl_id:"list_tpl",
            filter_form_id:"filter_form",
            filter_url:"/user/fetch_filters",
            delete_url:"/user/delete_filter",
            pagination_id:"pagination"

        }
        window.$obi = new UserFilters( options );
        window.$obi.fetchUserFilterss( );

    });

</script>

</body>
</html>

