{% if (project_id is defined and project_id is not empty) %}


    <div class="layout-nav">
        <div class="container-fluid">
            <div class="nav-control scrolling-tabs-container">
                <div class="fade-left">
                    <i class="fa fa-angle-left"></i>
                </div>
                <div class="fade-right">
                    <i class="fa fa-angle-right"></i>
                </div>
                <style>
                    .project-nav-links-fix {
                        display: flex;
                        text-align: center;
                        justify-content: center;
                        align-items: center;
                    }
                </style>
                <ul class="nav-links scrolling-tabs project-nav-links-fix">

                    <li class=" {% if (nav_links_active == 'home') %} {{ 'active' }}{% endif %}">
                        <a title="Home" class="shortcuts-project" href="{{project_root_url}}/home"><i class="fa fa-home"></i> <span> 项目概要 </span> </a>
                    </li>
                    <li class=" {% if (nav_links_active == 'issues') %} {{ 'active' }}{% endif %}">
                        <a title="Issues" class="shortcuts-issues" href="{{project_root_url}}/issues">
                            <i class="fa fa-tasks"></i><span> 事 项 <span class="badge count issue_counter hide">1</span> </span> </a>
                    </li>
                    <li class=" {% if (nav_links_active == 'gantt') %} {{ 'active' }}{% endif %}">
                        <a title="以甘特图的方式进行整个项目或迭代的事项计划" class="shortcuts-tree" href="{{project_root_url}}/gantt"><img style="width:14px;height: 14px" src="/dev/img/svg/gantt.svg" /><span> 甘特图</span> </a>
                    </li>
                    <li class=" {% if (nav_links_active == 'mind') %} {{ 'active' }}{% endif %}">
                        <a title="将思维导图和事项进行整个，可直观图形化树状化的方式管理事项" class="shortcuts-tree" href="{{project_root_url}}/mind"><img style="width:14px;height: 14px" src="/dev/img/mind.png" /><span> 事项分解</span> </a>
                    </li>
                    <li class=" {% if (nav_links_active == 'backlog') %} {{ 'active' }}{% endif %}">
                        <a title="待办事项是一个排序的列表,包含所有产品需要的事项,也是产品需求变动的唯一来源。产品负责人负责产品待办事项列表的内容、可用性和优先级" class="shortcuts-project" href="{{project_root_url}}/backlog"><img style="width:14px;height: 14px" src="/dev/img/backlog.png" /><span> 待办事项 </span> </a>
                    </li>
                    <li class=" {% if (nav_links_active == 'sprints') %} {{ 'active' }}{% endif %}">
                        <a title="也叫冲刺，是将项目分成多个阶段，每个阶段按短迭代周期工作，每次迭代交付一些成功，关注业务优先级，检查与调整，能够得到早期用户的反馈，及时进行对产品的更改，降低风险" class="shortcuts-tree" href="{{project_root_url}}/sprints"><img style="width:14px;height: 14px" src="/dev/img/rocket.png" /><span> 迭 代 </span> </a>
                    </li>
                    <li class=" {% if (nav_links_active == 'kanban') %} {{ 'active' }}{% endif %}">
                        <a title="看板的方式跟踪整个项目或某一迭代的事项" class="shortcuts-tree" href="{{project_root_url}}/kanban"><i class="fa fa-columns"></i><span>  看 板 </span> </a>
                    </li>
                    <li class=" {% if (nav_links_active == 'stat') %} {{ 'active' }}{% endif %}">
                        <a title="数字化的方式展示整个项目或迭代的汇总信息" class="shortcuts-tree" href="{{project_root_url}}/stat"><i class="fa fa-bar-chart"></i><span> 统 计 </span> </a>
                    </li>
                    <li class=" {% if (nav_links_active == 'chart') %} {{ 'active' }}{% endif %}">
                        <a title="图形化的方式展示整个项目或迭代的汇总信息" class="shortcuts-tree" href="{{project_root_url}}/chart"><i class="fa fa-line-chart"></i><span> 图 表 </span> </a>
                    </li>
                    <li class=" {% if (nav_links_active == 'setting') %} {{ 'active' }}{% endif %}">
                        <a title="可设置项目的描述,迭代,版本,团队成员和角色等信息" class="shortcuts-pipelines" href="{{project_root_url}}/settings"><i class="fa fa-cogs"></i><span> 设 置 </span> </a>
                    </li>
                    {% for plugin in _pluginArr %}
                        {% if plugin.type == _plugin_project_type and plugin.is_display=='1' %}
                            <li class=" {% if (nav_links_active == plugin.name) %} {{ 'active' }}{% endif %}">
                                <a title=" " href="{{project_root_url}}/plugin/{{plugin.name}}"><img style="width:14px;height: 14px" src="{{plugin.icon_file}}" /> <span>{{plugin.title}}</span>
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}

                </ul>
            </div>
        </div>
    </div>
{% endif %}



