<!DOCTYPE html>
<html class="" lang="en">
<head  >

    {% include 'twig/common/header/include.twig' %}
    <script src="/dev/js/admin/setting.js?v={{_version}}" type="text/javascript" charset="utf-8"></script>
    <script src="/dev/lib/handlebars-v4.0.10.js" type="text/javascript" charset="utf-8"></script>

</head>
<body class="" data-group="" data-page="projects:issues:index" data-project="xphp">
{% include 'twig/common/body/script.twig' %}

<section class="has-sidebar page-layout max-sidebar">
    {% include 'twig/common/body/page-left.twig' %}

    <div class="page-layout page-content-body system-page">
{% include 'twig/common/body/header-content.twig' %}

        <script>
            var findFileURL = "";
        </script>
        <div class="page-with-sidebar system-page">

            {% include 'twig/admin/common-page-nav-admin.twig' %}

            <div class="content-wrapper page-with-layout-nav page-with-sub-nav">
                <div class="alert-wrapper">

                    <div class="flash-container flash-container-page">
                    </div>

                </div>


                <div class="content" id="content-body">
                    <div class="container-fluid">
                        <div class="top-area">
                            <ul class="nav-links user-state-filters" style="float:left">
                                <li class="active" data-value="">
                                    <a id="state-opened"  title="项目列表" ><span> 基本信息 </span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="content-list pipelines">
                            <div class="table-holder">
                                <table class="table ci-table">
                                    <tbody>
                                        <tr class="commit">
                                            <td width="13%" class="th">
                                                    当前系统的版本
                                            </td>
                                            <td>{{ masterlab_version }}</td>
                                            <td width="13%" class="th">
                                                    操作系统
                                            </td>
                                            <td>{{ os }}</td>
                                        </tr>
                                        <tr class="commit">
                                            <td width="13%" class="th">
                                                    域名
                                            </td>
                                            <td>{{ domain }}</td>
                                            <td width="13%" class="th">
                                                    IP&端口
                                            </td>
                                            <td>{{ ip }}:{{ port }}</td>
                                        </tr>

                                        <tr class="commit">
                                            <td width="13%" class="th">
                                                    主机名
                                            </td>
                                            <td>{{ hostname }}</td>
                                            <td width="13%" class="th">
                                                    PHP用户
                                            </td>
                                            <td>{{ php_user }}</td>
                                        </tr>
                                        <tr class="commit">
                                            <td width="13%" class="th">
                                                    Web引擎
                                            </td>
                                            <td>{{ web_engine }}</td>
                                            <td width="13%" class="th">
                                                    服务器语言
                                            </td>
                                            <td>{{ lang }}</td>
                                        </tr>

                                        <tr class="commit">
                                            <td width="13%" class="th">
                                                    PHP已加载扩展
                                            </td>
                                            <td colspan="4">{{ extListFormat }}</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>

                        </div>


                    </div>

                </div>

            </div>
        </div>

    </div>
</section>


<script type="text/javascript">

    $(function() {

    });

</script>

</body>
</html>
