{% set link = '' %}

{% if (_links['type'] == 'back') %}
{% set link = 'javascript:history.go(-1);' %}
{% else %}
{% set link = _links['link'] %}
{% endif %}

{% set siteName = new mainappclassesSettingsLogic().showSysTitle() %}

<!DOCTYPE html>
<html>
<head>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <title>{{siteName}}</title>
    <script src="/dev/js/logo.js"></script>
    <link rel="stylesheet" media="all" href="/gitlab/assets/application.css"/>
    <link rel="stylesheet" type="text/css" href="/dev/css/not_found.css">
</head>

<body>
<div class="not-found vertical">
    <div class="inner">
        <div class="img">
            <img src="/gitlab/images/logo.png" />
        </div>
        <div class="text">
            <div class="type"></div>
            <div class="info">{{_title}}</div>
            <div class="detail">{{_content}}</div>
            <!--
            {% if (message is defined) %}
                {{ message }}
             {% endif %} -->
            <div class="you-can">
                您可以：
                <a class="btn btn-success" onclick="history.back()">返回上一页</a>
                <a class="btn btn-default" href="{{link}}">{{_links.title}}</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
