
<div class="scrolling-tabs-container sub-nav-scroll">
    <div class="fade-left">
        <i class="fa fa-angle-left"></i>
    </div>
    <div class="fade-right">

    </div>

    <div class="nav-links sub-nav scrolling-tabs is-initialized">
        <ul class="container-fluid">
            <li class="filter_nav_li  {% if (sys_filter == '' and active_id is empty) %} {{ 'active_underline' }}{% endif %}">
                <a title="所有事项" href="{{ issue_main_url}}"><span>所有事项</span>
                </a>
            </li>
            <li class="filter_nav_li  {% if (sys_filter == 'assignee_mine') %} {{ 'active_underline' }}{% endif %}">
                <a title="分配我的事项" href="{{ issue_main_url}}?sys_filter=assignee_mine">
                    <span>分配我的</span>
                </a>
            </li>
            <li class="filter_nav_li  {% if (sys_filter == 'my_unsolved') %} {{ 'active_underline' }}{% endif %}">
                <a title="分配我未解决的事项" href="{{ issue_main_url}}?sys_filter=my_unsolved">
                    <span>我未解决的</span>
                    {% if ( unResolveCount) %}
                    <span style="color: #d41716;"> ({{ unResolveCount }})</span>
                    {% endif %}
                </a>
            </li>
            <li class="filter_nav_li  {% if (sys_filter == 'my_followed') %} {{ 'active_underline' }}{% endif %}">
                <a title="我关注的事项" href="{{ issue_main_url}}?sys_filter=my_followed"><span>我关注的</span>
                </a>
            </li>
            <li class="filter_nav_li  {% if (sys_filter == 'my_report') %} {{ 'active_underline' }}{% endif %}">
                <a title="我报告的事项" href="{{ issue_main_url}}?sys_filter=my_report"><span>我报告的</span>
                </a>
            </li>
            <li class="filter_nav_li  {% if (sys_filter == 'active_sprint_unsolved') %} {{ 'active_underline' }}{% endif %}">
                <a title="当前活跃迭代的未解决事项" href="{{ issue_main_url}}?sys_filter=active_sprint_unsolved"><span>当前迭代未解决的</span>
                </a>
            </li>

            <li class="filter_nav_li" style="border-left: 1px solid #ddd; padding-left: 12px;">
                过滤器：
            </li>
            {% for favFilter in showFavFilters %}
                <li class="filter_nav_li  {% if (active_id ==  favFilter.id  or fav_filter==favFilter.id ) %} {{ 'active_underline filter_active_underline' }}{% endif %}">
                    <a title="{{ favFilter.name }}" href="{{ issue_main_url}}?fav_filter={{ favFilter.id }}" style="color:#fc9403; font-size: 12px; padding: 11px 4px 9px;"><span>{{ favFilter.name }}</span>
                    </a>
                </li>
            {% endfor %}
            {% if ( otherFavFilters) %}
                <li class="filter_nav_li  ">
                    <a  style="color:#fc9403; font-size: 12px; padding: 11px 4px 9px;" id="custom-filter-more" title="更多的过滤器 <a>管理</a>" href="#"><span>更 多</span><i class="fa fa-caret-down"></i>
                    </a>
                </li>
            {% endif %}
        </ul>

    </div>

</div>
