<div class="modal modal-middle" id="modal-join_sprint">
    <form class="form-horizontal issue-form common-note-form js-quick-submit js-requires-input gfm-form"
          action="/issue/main/join_sprint"
          accept-charset="UTF-8"
          method="post"
          id="form_add"

    >
        <div class="modal-dialog issue-modal-dialog">

                <div class="modal-content">
                    <div class="modal-header">
                        <a class="close" data-dismiss="modal" href="#">×</a>
                        <h3 class="modal-header-title">加入到Sprint</h3>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" name="issue_id" id="join_sprint_issue_id" value="">
                        <input type="hidden" name="format" id="format_sprint" value="json">

                        <div class="project-visibility-level-holder">

                            {% verbatim %}<script type="text/html" id="sprint_list_tpl">
                                {{#sprints}}
                                <div class="radio">
                                    <input type="radio" value="{{id}}" name="join_sprint" id="join_sprint_{{id}}">

                                    <label for="join_sprint_{{id}}">
                                        <i class="fa fa-circle-o"></i>
                                        <i class="fa fa-dot-circle-o"></i>
                                        <div class="option-title ">
                                            {{name}}
                                        </div>
                                        <div class="option-descr">
                                        </div>
                                    </label>
                                </div>
                                {{/sprints}}
                            </script>{% endverbatim %}

                            <div id="sprint_list_div" class="sprint-list-div clearfix">

                            </div>
                        </div>
                    </div>

                    <div class="modal-footer issue-modal-footer footer-block row-content-block">
                        <button name="submit" type="button" class="btn btn-create" id="btn-join_sprint">保存</button>
                        <a class="btn btn-cancel" data-dismiss="modal" href="#">取消</a>
                    </div>
                </div>
        </div>
    </form>
</div>

<div class="modal" id="modal-children_list">
    <form class="form-horizontal issue-form" id="form_modal_delete"
          action="/issue/main/delete"
          accept-charset="UTF-8"
          method="post">
        <div class="modal-dialog issue-modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal" href="#">×</a>
                    <h3 class="modal-header-title">删除事项</h3>
                </div>

                <div class="modal-body issue-modal-body">
                    <input type="hidden" name="issue_id" id="children_list_issue_id" value="">
                    <input type="hidden" name="format" id="format_delete" value="json">

                    <div class="form-group project-visibility-level-holder padding-20">
                        {% verbatim %}<script type="text/html" id="children_list_tpl">
                            {{#children}}
                            <div class="radio">
                                <label for="join_sprint_{{id}}">
                                    <div class="option-title">
                                        <a href="/issue/detail/index/{{id}}" target="_blank">#{{id}} {{summary}}</a>
                                    </div>
                                    <div class="option-descr">
                                        {{description}}
                                    </div>
                                </label>
                            </div>
                            {{/children}}
                        </script>{% endverbatim %}
                        <label id="children_list_title" class="label-light" for="children_list_div">
                            该实现还包含如下子任务,您确定要删除吗?
                        </label>
                        <div id="children_list_div" class="">

                        </div>

                        <label id="children_empty_state_title" class="label-light" for="empty_children_state">
                            您确认要删除该事项吗?
                        </label>
                        <div id="empty_children_state" class="">
                            <img src="/gitlab/images/no_group_avatar.png">
                        </div>
                    </div>
                </div>

                <div class="modal-footer issue-modal-footer footer-block row-content-block">
                    <button name="submit" type="button" class="btn btn-remove" id="btn-modal_delete">删除</button>
                    <a class="btn btn-cancel" data-dismiss="modal" href="#">取消</a>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal" id="modal-choose_parent">
    <div class="modal-dialog issue-modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a class="close" data-dismiss="modal" href="#">×</a>
                <h3 class="modal-header-title">选择父任务</h3>
            </div>

            <div class="modal-body issue-modal-body">
                <input type="hidden" name="issue_id" id="current_issue_id" value="">
                <input type="hidden" name="format" id="format_parent" value="json">
                <div class="padding-20">
                    <div class="form-group project-visibility-level-holder margin-b-m">
                        <div class="filter-item inline">
                            <div class="dropdown">
                                <button id="btn-parent_select_issue"
                                        class="dropdown-menu-toggle js-user-search"
                                        type="button"
                                        data-copy-id="btn-parent_select_issue"
                                        data-current-user="false"
                                        data-project-id="<?=project_id?>"
                                        data-selected=""
                                        data-field-name="parent_select_issue_id"
                                        data-default-label="请选择事项"
                                        data-field-type="issue"
                                        data-issue-id=""
                                        data-toggle="dropdown">
                                    <span class="dropdown-toggle-text is-default">请选择事项</span>
                                    <i class="fa fa-chevron-down"></i>
                                </button>
                                <div class="dropdown-menu dropdown-select dropdown-menu-user dropdown-menu-selectable dropdown-menu-author js-filter-submit">
                                    <div class="dropdown-title">
                                        <span>查找事项</span>
                                        <button class="dropdown-title-button dropdown-menu-close" aria-label="Close"
                                                type="button">
                                            <i class="fa fa-times dropdown-menu-close-icon"></i>
                                        </button>
                                    </div>
                                    <div class="dropdown-input">
                                        <input type="search" id="search-choose-parent-dropdown" class="dropdown-input-field"
                                               placeholder="可输入事项键值或主题的关键词" autocomplete="off"/>
                                        <i class="fa fa-search dropdown-input-search"></i>
                                        <i role="button"
                                           class="fa fa-times dropdown-input-clear js-dropdown-input-clear"></i>
                                    </div>
                                    <div class="dropdown-content "></div>
                                    <div class="dropdown-loading">
                                        <i class="fa fa-spinner fa-spin"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <span>注:</span><br>
                        <span>输入事项键值或主题的关键词来得到可能匹配的事项列表</span><br>
                        <span>只能在当前事项的项目内操作</span><br>
                    </div>
                </div>
            </div>

            <div class="modal-footer issue-modal-footer footer-block row-content-block">
                <button name="submit" type="button" class="btn btn-create" id="btn-convertChild">确定</button>
                <a class="btn btn-cancel" data-dismiss="modal" href="#">取消</a>
            </div>
        </div>
    </div>
</div>

<div class="modal height100" id="modal-create-issue">
    <form class="form-horizontal issue-form common-note-form js-quick-submit js-requires-input gfm-form"
          id="create_issue"
          action="/issue/main/add"
          accept-charset="UTF-8"
          method="post">
        <div class="modal-dialog issue-modal-dialog">
            <div class="modal-content issue-modal-content">
                <div class="modal-header issue-modal-header">
                    <!--                <div class="modal-header-action">-->
                    <!--                    <div class="js-notification-dropdown notification-dropdown project-action-button dropdown inline">-->
                    <!--                        <div class="js-notification-toggle-btns">-->
                    <!--                            <a class="dropdown-new notifications-btn" href="#" data-target="dropdown-15-31-Project" data-toggle="dropdown" id="notifications-button" type="button" aria-expanded="false">-->
                    <!--                                <i class="fa fa-cog"></i> 配置字段-->
                    <!--                            </a>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <!--                </div>-->

                    <h3 class="modal-header-title">创建事项</h3>

                    <a class="close" data-dismiss="modal" href="#">×</a>
                </div>
                <div class="modal-body issue-modal-body">
                    <input name="utf8" type="hidden" value="✓">
                    <input type="hidden" name="params[project_id]" id="project_id" value="<?=project_id?>"/>
					<input type="hidden" name="params[master_issue_id]" id="master_issue_id" value=""/>
                    <input type="hidden" name="authenticity_token" value="">
                    {% set projectSeelctTitle = '请选择项目' %}
                    {% if (project_id is not empty) %}
                        {% set projectSeelctTitle = project_name %}
                    {% endif %}
                    <div class="form-group">
                        <label class="control-label" for="issue_project_id">项目:</label>
                        <div class="col-sm-10">
                            <select id="create_project_select" name="project_select" class="selectpicker"
                                    dropdownAlignRight="true" data-live-search="true" title="">
                                <option value="">请选择</option>
                            </select>

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="issue_type">事项类型:</label>
                        <div class="col-sm-10">
                            <select id="create_issue_types_select" name="params[issue_type]" class="selectpicker"
                                    dropdownAlignRight="true" data-live-search="true" title="">
                                <option value="">请选择类型</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group hide" id="create_master_div">
                        <label class="control-label" for="issue_type">父任务:</label>
                        <div class="col-sm-10" id="create_master_title" style="padding-top: 7px;">
                        </div>
                    </div>

                    <hr id="create_header_hr">

                    <ul class="nav nav-tabs hide" id="create_tabs">
                        <li role="presentation" class="active">
                            <a id="a_create_default_tab" href="#create_default_tab" role="tab" data-toggle="tab">默认</a>
                        </li>
                    </ul>
                    <div id="create_master_tabs" class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="create_default_tab">

                        </div>
                    </div>
                </div>
                <div class="modal-footer issue-modal-footer footer-block row-content-block">
                    <a class="btn btn-cancel" data-dismiss="modal" href="#">取消</a>
                    <span class="append-right-10">
                        <input id="btn-add" type="button" name="commit" value="保存" class="btn btn-save">
                    </span>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal" id="modal-edit-issue">
    <form class="form-horizontal issue-form common-note-form js-quick-submit js-requires-input gfm-form"
          id="edit_issue"
          action="/issue/main/update"
          accept-charset="UTF-8"
          method="post">
        <div class="modal-dialog issue-modal-dialog">
            <div class="modal-content issue-modal-content">
                <div class="modal-header">
                    <!--                    <div class="modal-header-action">-->
                    <!--                        <div class="js-notification-dropdown notification-dropdown project-action-button dropdown inline">-->
                    <!--                            <div class="js-notification-toggle-btns">-->
                    <!--                                <a class="dropdown-new notifications-btn" href="#" data-target="dropdown-15-31-Project" data-toggle="dropdown" id="notifications-button" type="button" aria-expanded="false">-->
                    <!--                                    <i class="fa fa-cog"></i> 配置字段-->
                    <!--                                </a>-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                    </div>-->

                    <h3 id="modal-edit-issue_title" class="modal-header-title">编辑事项 </h3>

                    <a class="close" data-dismiss="modal" href="#">×</a>
                </div>
                <div class="modal-body issue-modal-body">
                    <input name="utf8" type="hidden" value="✓">
                    <input type="hidden" name="form_type" id="form_type" value="update"/> 

                    <input type="hidden" name="issue_id" id="edit_issue_id" value=""/>
                    <input type="hidden" name="params[project_id]" id="edit_project_id" value=""/>
                    <input type="hidden" name="params[issue_type]" id="edit_issue_type" value=""/>

                    <input type="hidden" name="authenticity_token" value="">
                    <div class="form-group">
                        <label class="control-label" for="issue_project_id">项目:</label>
                        <div class="col-sm-10">
                            <div class="filter-item project-selected" id="project-selected">
                                选择项目
                            </div>
                        </div>
                    </div>
                    {% verbatim %}<script type="text/html" id="project-selected_tpl">
                        <span>{{name}}</span>
                    </script>{% endverbatim %}
                    <div class="form-group">
                        <label class="control-label" for="issue_type">事项类型:</label>
                        <div class="col-sm-10">
                            <select id="edit_issue_types_select" name="params[issue_type]" class="selectpicker"
                                     >

                            </select>
                        </div>
                    </div>

                    <ul class="nav nav-tabs hide" id="edit_tabs">
                        <li role="presentation" class="active">
                            <a id="a_edit_default_tab" href="#edit_default_tab" role="tab" data-toggle="tab">默认</a>
                        </li>
                    </ul>
                    <div id="edit_master_tabs" class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="edit_default_tab">

                        </div>
                    </div>
                </div>

                <div class="modal-footer issue-modal-footer footer-block row-content-block">
                    <a class="btn btn-cancel" data-dismiss="modal" href="#">取消</a>
                    <span class="append-right-10">
                        <input type="button" name="commit" id="btn-update" value="保存"
                                                         class="btn btn-save"></span>
                </div>
            </div>
        </div>
    </form>
</div>

{% verbatim %}
<script type="text/html" id="user_tpl">
 <div class="issuable-form-select-holder">
        <select id="user-select-{{id}}-value" name="{{field_name}}" class="selectpicker"  data-live-search="true"  data-none-selected-text="{{display_name}}"
                data-project-id="{{project_id}}"
        >
            {{#project_users}}
                <option value="{{uid}}"  data-content="<img width='26px' height='26px' class=' float-none' style='border-radius: 50%;' src='{{avatar}}' > {{display_name}}"  {{#if_eq uid ../default_value }} selected {{/if_eq}} >{{display_name}}</option>
            {{/project_users}}

        </select>
    </div>
</script>
{% endverbatim %}

{% verbatim %}
<script type="text/html" id="priority_tpl">

    <div class="btn-group button_radio" data-toggle="buttons">
    <input type="hidden" name="{{field_name}}" id="{{id}}" autocomplete="off" value="{{default_value}}">
     {{#each list_data}}
       <label class="btn  btn-default   {{#if_eq ../default_value id }} active {{/if_eq}}"
            data-for_value="{{id}}" data-color="{{status_color}}"
            data-for_id="{{../id}}" style="  color: {{#if_eq ../default_value id }} {{status_color}} {{^}}#67626294{{/if_eq}}   ">
            {{name}}
      </label>
      {{/each}}
    </div>
</script>
{% endverbatim %}

{% verbatim %}
<script type="text/html" id="status_tpl">
    <div class="btn-group button_radio" data-toggle="buttons">
    <input type="hidden" name="{{field_name}}" id="{{id}}" autocomplete="off"   value="{{default_value}}">
     {{#each list_data}}
       <label class="btn btn-sm btn-default  {{#if_eq ../default_value id }} active {{/if_eq}}"
            data-for_value="{{id}}" data-color="{{text_color}}"
            data-for_id="{{../id}}" style=" color:  {{#if_eq ../default_value id }} {{text_color}} {{^}}#67626294{{/if_eq}}   ">
            {{name}}
      </label>
      {{/each}}
    </div>
</script>
{% endverbatim %}

{% verbatim %}
<script type="text/html" id="resolve_tpl">
    <div class="btn-group button_radio" data-toggle="buttons" id="button_radio-resolve" data-for_button_radio="resolve">
    <input type="hidden" name="{{field_name}}" id="{{id}}" autocomplete="off"   value="{{default_value}}">
     {{#each list_data}}
       <label class="btn btn-sm  btn-default  {{#if_eq ../default_value id }} active {{/if_eq}}"
            data-for_value="{{id}}"  data-color="{{color}}"
            data-for_id="{{../id}}" style=" color:  {{#if_eq ../default_value id }} {{color}} {{^}}#67626294{{/if_eq}}   ">
            {{name}}
      </label>
      {{/each}}
    </div>
</script>
{% endverbatim %}


{% verbatim %}
<script type="text/html" id="multi_user_tpl">
    <div class="issuable-form-select-holder">
        <select id="multi-select-{{id}}-value" name="{{field_name}}" class="selectpicker" multiple data-none-selected-text="{{display_name}}"
                data-project-id="{{project_id}}"
        >
            {{#project_users}}
                <option value="{{uid}}"  data-content="<img width='26px' height='26px' class=' float-none' style='border-radius: 50%;' src='{{avatar}}' > {{display_name}}"  {{#if_in_array uid ../edit_data}}selected{{/if_in_array}} >{{display_name}}</option>
            {{/project_users}}

        </select>
    </div>
</script>
{% endverbatim %}

{% verbatim %}


<script type="text/html" id="module_tpl">
 <div class="issuable-form-select-holder">
        <select id="module-select-{{id}}-value" name="{{field_name}}" class="selectpicker"  data-live-search="true"  data-none-selected-text="{{display_name}}"
                data-project-id="{{project_id}}"
        >
             <option value="">请选择</option>
            {{#list_data}}
                <option value="{{id}}"    {{#if_eq id ../default_value }} selected {{/if_eq}} >{{title}}</option>
            {{/list_data}}

        </select>
    </div>
</script>

{% endverbatim %}

{% verbatim %}
<script type="text/html" id="labels_tpl">

 <div class="issuable-form-select-holder">
        <select id="label-select-{{id}}-value" name="{{field_name}}[]" class="selectpicker"  data-live-search="true" multiple  data-none-selected-text="{{display_name}}"
                data-project-id="{{project_id}}"
        >
            <option value="" >请选择</option>
            {{#list_data}}
                <option value="{{id}}"
                 data-content="<span class='label color-label ' style='background-color: {{bg_color}}; color: {{color}}' data-container='body'>{{title}}</span>"
                   {{#if_in_array id ../edit_data }} selected {{/if_in_array}}
                  >
                {{title}}</option>
            {{/list_data}}

        </select>
 </div>

</script>
{% endverbatim %}

{% verbatim %}
<script type="text/html" id="version_tpl">

     <div class="issuable-form-select-holder">
            <select id="version-select-{{id}}-value" name="{{field_name}}[]" class="selectpicker"  data-live-search="true" {{extra_attr}}  data-none-selected-text="{{display_name}}"
                    data-project-id="{{project_id}}"
            >
                 <option value="">请选择</option>
                {{#list_data}}
                    <option value="{{id}}"  {{#if_in_array id ../edit_data }} selected {{/if_in_array}}>{{name}}</option>
                {{/list_data}}

            </select>
     </div>
</script>{% endverbatim %}


<!-- Fine Uploader Gallery template
   ====================================================================== -->
<script type="text/template" id="qq-template-gallery">
    <div class="qq-uploader-selector qq-uploader qq-gallery" qq-drop-area-text="将文件拖放到此处以添加附件">
        <div class="qq-total-progress-bar-container-selector qq-total-progress-bar-container">
            <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                 class="qq-total-progress-bar-selector qq-progress-bar qq-total-progress-bar"></div>
        </div>
        <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
            <span class="qq-upload-drop-area-text-selector"></span>
        </div>
        <div class="qq-upload-button-selector qq-upload-button">
            <div>浏览</div>
        </div>
        <span class="qq-drop-processing-selector qq-drop-processing">
                <span>拖拽文件完成...</span>
                <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
            </span>
        <ul class="qq-upload-list-selector qq-upload-list" role="region" aria-live="polite"
            aria-relevant="additions removals">
            <li>
                <span role="status" class="qq-upload-status-text-selector qq-upload-status-text"></span>
                <div class="qq-progress-bar-container-selector qq-progress-bar-container">
                    <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                         class="qq-progress-bar-selector qq-progress-bar"></div>
                </div>
                <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                <div class="qq-thumbnail-wrapper">
                    <a href="javascript:;" class="qq-file-link qq-upload-file-url">
                        <img class="qq-thumbnail-selector" qq-max-size="198" qq-server-scale>
                    </a>
                </div>
                <button type="button" class="qq-upload-cancel-selector qq-upload-cancel">X</button>
                <button type="button" class="qq-upload-retry-selector qq-upload-retry">
                    <span class="qq-btn qq-retry-icon" aria-label="Retry"></span>
                    Retry
                </button>

                <div class="qq-file-info">
                    <div class="qq-file-name">
                        <span class="qq-upload-file-selector qq-upload-file"></span>
                        <span class="qq-edit-filename-icon-selector qq-edit-filename-icon"
                              aria-label="Edit filename"></span>
                    </div>
                    <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
                    <span class="qq-upload-size-selector qq-upload-size"></span>
                    <button type="button" class="qq-btn qq-upload-delete-selector qq-upload-delete">
                        <span class="qq-btn qq-delete-icon" aria-label="Delete"></span>
                    </button>
                    <button type="button" class="qq-btn qq-upload-pause-selector qq-upload-pause">
                        <span class="qq-btn qq-pause-icon" aria-label="Pause"></span>
                    </button>
                    <button type="button" class="qq-btn qq-upload-continue-selector qq-upload-continue">
                        <span class="qq-btn qq-continue-icon" aria-label="Continue"></span>
                    </button>
                </div>
            </li>
        </ul>

        <dialog class="qq-alert-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">关闭</button>
            </div>
        </dialog>

        <dialog class="qq-confirm-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">否</button>
                <button type="button" class="qq-ok-button-selector">是</button>
            </div>
        </dialog>

        <dialog class="qq-prompt-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <input type="text">
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">取消</button>
                <button type="button" class="qq-ok-button-selector">确定</button>
            </div>
        </dialog>
    </div>
</script>

<script>
</script>
